.center {
    text-align: center;
}

.center_button {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .center_range {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.tile    {
display: inline-block;
width: 100px;
height: 100px;
background-color: rgb(202, 202, 202);
cursor: pointer;
    
}
.tile:hover {
box-shadow: inset 0px 0px 100px 100px rgba(255, 255, 255, 0.3);

}

.blue{
    background-color: blue;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

.orange{
    background-color: orange;
}

.pink{
    background-color: pink;
}
.yellow{
    background-color: yellow;
}

.hidden{
    display: none;
}